
video {
  display: block;
  margin: auto;
  margin-top: 60px;
  margin-bottom: 60px;
}
.line1 hr {
	height:3px;
	margin-top: 100px;
	border-width: 0;
	color: gray;
	background-color: #666699;
	width:50%

}
.line2 hr{
	height:3px;
	margin-top: 0px;
	border-width: 0;
	color: gray;
	background-color: #666699;
	width:50%
}


.updates{
	width: 80%;
	height:2000px;
	background:grey;
	margin: 20px auto;
}

